.raleway{
    font-family: 	'raleway', sans-serif;
    }
.roboto{
    font-family: 	'assistant', sans-serif;
    }
.quicksand{
font-family: 	'quicksand', sans-serif;
}

.lato{
    font-family: 	'lato', sans-serif;
    }

    .avenir{
        font-family: 	'avenir', sans-serif;
        }

        .coquette{
            font-family: 	'coquette', cursive;
            }
            .freight{
                font-family: 	'freight-display-pro', serif;
                }
.museo{
    font-family: 	'museo', serif;

}
.playfair { 
    font-family: "Playfair Display",serif;
    font-weight: 700; 
}